<!DOCTYPE html>
<html>
<head>
    <title>Applicants</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container mt-4">
    <h2 class="text-center">Applicants</h2>

    {% for row in data %}
        <div class="card shadow p-3 m-2">
            <p><b>Worker:</b> {{ row['worker_name'] }}</p>
            <p><b>Job:</b> {{ row['title'] }}</p>
        </div>
    {% endfor %}
</div>

</body>
</html>